@font-face {
    font-family: 'Roboto';
    src: url(Ac437_Acer_VGA_8x8.ttf);
}



body {
    background: linear-gradient(-45deg, #de6262, #ffb88c);
    color: white;

}

h1 {
    font-family: 'Roboto';
}

p {
text-shadow: 2px 2px 4px #000000;
    font-family: 'Roboto';
}


hr {
  size: "10";
  
  }

marquee {
 font-family: 'Roboto';
    text-shadow: 2px 2px 4px #000000;

}

 
 
