@font-face {
    font-family: 'BIOS';
    src: url(Ac437_Acer_VGA_8x8.ttf);
}



body {
    background: linear-gradient(-45deg, #de6262, #ffb88c);
    color: white;    
    animation: movingGrad 6s ease infinite;
   
}

.miniSteel {
animation: redPinkWhite 4s infinite;
}
    
@keyframes redPinkWhite {
0% { color: white; }
10% { color: pink; }
25% { color: white; }
50% { color: red; }
75% { color: pink; }
100% { color: white; }
}
    @keyframes movingGrad {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0%  50%;
}

    }

h1 {
    font-family: 'BIOS';
}

p {
text-shadow: 2px 2px 4px #ff580a;
    font-family: 'BIOS';
}


hr {
  size: "10";
  color: white;
  }

marquee {
 font-family: 'BIOS';
text-shadow: 2px 2px 4px #ff580a;

}

 
 a {
color: white;
font-family: 'BIOS';
text-shadow: 2px 2px 4px #ff580a
 }
